<!DOCTYPE html>

<html>

    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>

    <body>
        <div class="main">
        {{>header}}
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum amet dolor consequuntur impedit pariatur natus, obcaecati quae harum esse. Neque deserunt dolore laudantium velit esse!</p>
        <img class = "wallPaper" src = "/img/web2.jpg">
        </div>

        {{>footer}}
    </body>
</html>