
<footer>
    <h2>by {{Name}}</h2>
    <h3>Its kinda astonishing how close to the edge of that knowledge gap I was,
        had I simply watched maybe 2 more sections of this course I potentially could
        have saved a couple months of time. But I guess I cant get mad about that, progress
        is progress.
    </h3>

</footer>